@model ST10131083_DAF.Models.ViewModel.LoginSignUpViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<!-- Begin Login Form Modal -->
<div class="container" id="loginForm">
    <div class="row">
        <div class="sm-form-bg">
            <form asp-action="Login" method="post">               
                <div class="sm-form col-6 col-sm-3">
                    <div class="text-bg-success"><p class="sm-form-msg text-white m-0">@TempData["successMessage"]</p></div>
                    <img class="icon-form" src="~/images/home/icon-form.svg">
                    <p class="sm-form-text-1">LOGIN TO YOUR ACCOUNT</p>
                    <p class="sm-form-text-2">Already have an account? <a asp-action="SignUp" asp-controller="Account">SIGN UP!</a></p>

                    <div class="sm-form-el pb-3">
                        <input type="email" asp-for="Email" id="u9_input" class="sm-form-input" placeholder="Enter Email addresss">
                        <span class="sm-form-msg text-danger">@TempData["errorEmail"]</span>
                    </div>
                    <div class="sm-form-el pb-3">
                        <input type="password" asp-for="Password" id="u9_input" class="sm-form-input" placeholder="Enter Password">
                        <span class="sm-form-msg text-danger">@TempData["errorPassword"]</span>
                        <i id="open" class="fa fa-eye float-end" style="margin-top:-25px;margin-right:6px; cursor:pointer;"></i>
                        <i id="closed" class="fa fa-eye-slash float-end" style="margin-top:-25px;margin-right:6px; cursor:pointer; display:none"></i>
                    </div>
                    <div class="sm-form-el pb-3 text-start">
                        <input type="checkbox" asp-for="isRemember" id="u9_input" class="" />
                        <label asp-for="isRemember" class=""></label>
                    </div>
                    <div class="sm-form-el">
                        <input type="submit" class="btn btn-primary btn-lg col-6 d-grid col-12 btn-thm thm-colorbg-sc mt-4" id="u9_input" value="Login">
                    </div>
                    <div class="sm-form-el">
                        <p class="sm-form-text-2 mt-4"><a href="#">HAVING TROUBLE?</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End - Login & Registraion Forms Modal -->
