@model ST10131083_DAF.Models.Dashboard.Category

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mt-5">
                <div class=" card-header dashboard-header p-3">
                    <h2>Create Category</h2>
                </div>
                <div class="col-md-4 p-3 text-center offset-4">
                    <div class="text-bg-success"><p class="sm-form-msg text-white m-0">@TempData["errorMessage"]</p></div>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CategoryId" />
                        <div class="form-group">
                            <label asp-for="CategoryName" class="control-label">Category Name</label>
                            <input asp-for="CategoryName" class="form-control" />
                            <span asp-validation-for="CategoryName" class="text-danger"></span>
                        </div>
                        <div class="sm-form-el">
                            <input type="submit" class="btn btn-primary btn-lg col-6 d-grid col-12 btn-thm thm-colorbg-sc mt-4" id="u9_input" value="Save">
                        </div>
                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
