@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <div class="container">
        <!-- Hero (overlay) -->
        <div id="hero-overlay" class="ax_default box_1">
        </div>

        <!-- Here Text-->
        <div id="hero-intro-text">
            <div id="intro_text-format">
                <p class="m-0 lh-1.5"><span>DISASTER</span></p>
                <p class="m-0 lh-1.5"><span>ALLEVIATION&amp; </span></p>
                <p class="m-0 lh-1.5"><span>FOUNDATION</span></p>
            </div>
        </div>

        <div class="intro-sc-text">
            <div id="sc-text" class="heading_1 sc-tx1">
                <div id="u152_text" class="text">
                    <p class="m-0 lh-0"><span>RELIEF</span></p>
                </div>
            </div>

            <div id="sc-text" class="heading_1 sc-tx2">
                <div id="u152_text" class="text">
                    <p class="m-0 lh-0"><span>SAVE LIVES</span></p>
                </div>
            </div>

            <div id="sc-text" class="heading_1 sc-tx3">
                <div id="u152_text" class="text">
                    <p class="m-0 lh-0"><span>DONTATE, SUPPLY, ASSIST</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-bg-pad" class="content-bg">
    <div class="services-header">
        <div class="container">
            <!-- <h1 class="display-2 text-uppercase text-center fw-bold thm-colorfg-pr">services</h1> -->
            <div id="u36_text">
                <p class="text-center mb-5 mb-5"><span>HOW YOU CAN HELP</span></p>
            </div>
        </div>
    </div>

    <div class="services-contents">
        <div class="container text-center">
            <div class="row g-0">
                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u33.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">MONEY</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u33.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">FOOD</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u33.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">WATER</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u32.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">SHELTER</p>
                        </div>
                    </div>
                </div>

                <div class="w-100"></div>

                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u29.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">MEDICAL</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u29.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">CLOTHES</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u29.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">SUPPORT</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-3">
                    <div id="u35" class="">
                        <img id="u35_img" class="img" src="images/home/services/cont-col_u28.svg" />
                        <div id="u35_text" class="text ">
                            <p class="m-0">RESOURCES</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="" class="content-bg why-choose-us mt-4">
    <div class="skew-strip-top"></div>
    <div class="services-header thm-colorbg-pr pt-5 pb-5">
        <div class="container">
            <!-- <h1 class="display-2 text-uppercase text-center fw-bold thm-colorfg-pr">services</h1> -->
            <div id="u36_text">
                <p class="text-center text-white mb-0"><span>WHAT WE DO</span></p>
            </div>
        </div>
    </div>
    <div class="skew-strip-bottom"></div>

    <div id="content-bg-pad" class="wcu-text mt-5">
        <div class="container">
            <p>
                <span style="font-family:'Poppins', sans-serif;font-weight:400;">
                    As armed conflicts, mass displacement,
                    and disasters take an ever heavier toll, humanitarian intervention remains a cornerstone of global governance.
                    Over five decades spent battling crises, the Disaster Alleviation Program (DAP) has accrued
                </span>
                <span style="font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight:700;">
                    vast expertise and
                    capacity in supply chain, engineering and emergency telecommunications – often in the most challenging environments.
                </span>
                <span style="font-family:'Poppins', sans-serif;font-weight:400;"> This experience affords </span>
                <span style="font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight:700;">DAP</span>
                <span style="font-family:'Poppins', sans-serif;font-weight:400;">
                    the ability to extend its capacity to also support
                    emergency preparedness and medium-long term development efforts, depending on the local context.
                </span>
            </p>
        </div>
    </div>

    <div id="" class="academic-journey">
        <div class="container">
            <div class="row g-0">
                <div class="col col-sm-4">
                    <div class="card-cover">
                        <div class="aj-card-header">
                            <p>PROCUREMENT & EMERGENCY</p>
                        </div>
                        <div class="hr-line"></div>
                        <div class="p-3">
                            <div class="aj-card-img p-3">
                                <div class="icon-cirlce">
                                    <img class="icon-img" src="images/home/icon-star.svg">
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">PROCUREMENT OF FOOD, REILIEF ITEMS & OPERATIONAL EQUIPMENT</p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">

                                        Special nutritious food for children, water and sanitation items, mobile warehouses, vehicles, and emergency telecommunications equipment
                                    </p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">

                                        EMERGENCY STOCK PILING & PRE POSITIONG

                                    </p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">

                                        DAP offers storage for a variety of food and relief items: from family tents to cooking sets and operational equipment.
                                    </p>
                                </div>
                            </div>
                            <div class="aj-card-text">
                                <a href="#" class="aj-card-link">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div class="card-cover">
                        <div class="aj-card-header">
                            <p>TRANSPORTATION & IT SERVICES</p>
                        </div>
                        <div class="hr-line"></div>
                        <div class="p-3">
                            <div class="aj-card-img p-3">
                                <div class="icon-cirlce">
                                    <img class="icon-img" src="images/home/icon-star.svg">
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">CARGO TRABSPORTATION</p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">
                                        DAP works with local, regional and global networks of ocean, land, and air transport providers to deliver life-saving food assistance and relief items for its own operations, as well as partners.
                                    </p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">TELECOMUNICATIONS & IT SERVICES</p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">DAP deploys telecommunications and IT experts to establish vital connections in hard-to-access locations, enabling aid workers to keep providing vital support to the people we serve.</p>
                                </div>
                            </div>
                            <div class="aj-card-text">
                                <a href="#" class="aj-card-link">Support</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <div id="card-cover-bdr" class="card-cover">
                        <div class="aj-card-header">
                            <p>MEDICAL & ACCOMODATION</p>
                        </div>
                        <div class="hr-line"></div>
                        <div class="p-3">
                            <div class="aj-card-img p-3">
                                <div class="icon-cirlce">
                                    <img class="icon-img" src="images/home/icon-star.svg">
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">
                                        MEDICAL WELLNESS & ACCOMODATION SERVICES
                                    </p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">
                                        Well-being of humanitarian staff is a precondition to ensure those we serve receive the assistance they need.
                                    </p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">
                                        AIR PASSENGER TRANSPORT
                                    </p>
                                </div>
                            </div>
                            <div class="aj-card-text clearfix">
                                <div class="aj-card-icon-arrow">
                                    <img class="" src="images/home/icon-arrow.svg">
                                </div>
                                <div class="text">
                                    <p class="m-0">DAP offers critical air passenger services to aid workers to areas that are currently unreachable by any other way, whether due to insecurity, lack of infrastructure or viable commercial aviation options.</p>
                                </div>
                            </div>
                            <div class="aj-card-text">
                                <a href="#" class="aj-card-link">Assist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-bg-pad" class="content-bg contact-card text-center">
    <div class="container">
        <div class="contact-card-text mb-4">
            <img class="mb-5" src="images/home/icon-comment.svg">
            <h1 class="mb-3">Need Assistance?</h1>
            <h2>CALL US ON : (018) 115 3400</h2>
            <p class="contact-card-oh">24 hour support</p>
        </div>
    </div>
    <div class="contact-card-social">
        <img class="me-2" src="images/home/icon-twitter.svg">
        <img class="me-2" src="images/home/icon-youtube.svg">
        <img class="me-2" src="images/home/icon-facebook.svg">
        <img class="" src="images/home/icon-linkedin.svg">
    </div>
</div>

