
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card dashboard-area">
                <div class=" card-header dashboard-header p-3">
                    <h2>Dashboard</h2>
                </div>
            </div>           
        </div>
    </div>
</div>

@*<div class="container"></div>*@